{% load static %}
<div class="footer">

    <ul>
      <p style="float: left; margin-left: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">&copy;Blossom Flowershop</p>
      <li href="#"><img src="{% static 'icon/ig.png' %}" style="height: 35px; width: 40px;">
      <li><a href="https://twitter.com/b_flowershop"><img src="{% static 'icon/twitter.png' %}" style="height: 35px; width: 40px;"></a>
      <li href="#"><img src="{% static 'icon/fb.png' %}" style="height: 35px; width: 40px;">
      <div style="clear: both;"></div>
    </ul>

<div>
